<div style="padding: 1em;">

  Visualize some data 

  <ul> 
    <li> <%= link_to 'bubbles', :action => :plot_bubble, :controller => :viz -%> </li>
    <li> <%= link_to 'multivar', :action => :plot_multivar, :controller => :viz -%> </li>

    <li> <%= link_to 'form test', :action => :form_test, :controller => :viz -%> </li>
  </ul>

</div>




