body {
  margin: 0;
  display: table;
  height: 100%;
  width: 100%;
  font: 14px/134% Helvetica Neue, sans-serif;
}

#center {
  display: table-cell;
  vertical-align: middle;
}

#fig {
}

#header {
  font-family: Courier, fixed-width;
  padding: 1em;
  width: 100%;
  background-color: green;
  font-size: larger;
  border-bottom: 1px solid silver;
  margin-bottom: 0.2em;
  clear: both;
}

div.header_category {
  border-bottom: 1px solid silver;
  font-weight:bold;
}
