<% content_for :head do %>
  <%= stylesheet_link_tag "plot_bubble" -%>
<% end %>
<div id="center">
  <div id="fig">
    <script type="text/javascript+protovis">

var flare = <%= @associations.to_s %>;

/* For pretty number formatting. */
var format = pv.Format.number();

var vis = new pv.Panel()
    .width(796)
    .height(796)
    .margin(2);

var pack = vis.add(pv.Layout.Pack)
    .nodes(pv.dom(flare).root("flare").nodes())
    .size(function(d) d.nodeValue);

pack.node.add(pv.Dot)
    .fillStyle(function(d) d.firstChild ? "rgba(31, 119, 180, .25)" : "#ff7f0e")
    .title(function(d) d.nodeName + (d.firstChild ? "" : ": " + format(d.nodeValue)))
    .lineWidth(1);

pack.label.add(pv.Label)
    .visible(function(d) !d.firstChild)
    .text(function(d) d.nodeName.substring(0, Math.sqrt(d.nodeValue) / 20));

vis.render();

    </script>
  </div>
</div>
