<% content_for :head do %>
  <%= stylesheet_link_tag "plot_bubble" -%>
<% end %>

<div id="center">
  <div id="fig">
    <script type="text/javascript+protovis">


var flare = {"acellular anatomical structure": {"chorion": 1, "cuticular specialization": {"puparial opercular seam": 1, "denticle field": 3, "denticle row": {"denticle row 5": 4, "denticle row 6": 2, "denticle row 1": 4, "denticle row 2": 3, "denticle row 3": 3, "denticle row 4": 3}, "lens": 3, "filzkorper": 13, "dental sclerite": 2, "mouth hooks": 11, "pharyngeal bars": 2, "trichome": {"haltere trichome": 2, "dorsal hair": 13, "wing hair": 27, "hypandrial hair": 2}, "cirri": 6, "spinule": {"spinule of maxillary palpus": 1}, "ocellus lens": 2, "sclerite": {"hypostomal sclerite": 4, "tergite": 68, "sternite": 35, "unguitractor plate": 1, "haltere sclerite": 2, "fronto-orbital plate": 3, "cibarial plate": 1, "discal sclerite": 1, "cervical sclerite": 1, "wing sclerite": 24, "anterior labial plate": 1}, "unguis scale": {"mesothoracic unguis scale": 1}, "cephalopharyngeal skeleton": 13, "cornea": 3, "unguis": {"mesothoracic unguis": 2, "metathoracic unguis": 2, "prothoracic unguis": 2}, "puparial operculum": 2, "denticle": {"dorsal denticle": 3}, "denticle belt": {"mesothoracic ventral denticle belt": 5, "prothoracic ventral denticle belt": 6, "abdominal ventral denticle belt": 66, "metathoracic ventral denticle belt": 7}, "wing vein": {"wing vein L5": 13, "wing vein L6": 3, "1st anal vein": 1, "anal 2-3 vein": 1, "wing vein L1": 4, "wing vein L2": 14, "wing vein L3": 15, "wing vein L4": 14, "crossvein": 19, "axillary vein": 2, "costal vein": 7}, "taenidial fold": 3, "eo sensory structure": 6}, "chorionic layer": {"inner chorionic layer": 2, "endochorion": 2, "exochorion": 2}, "vitelline membrane": 3, "waste bag": 2, "chorionic specialization": {"collar": 2, "egg operculum": 7, "micropyle": 5, "posterior aeropyle": 2, "dorsal appendage": 17}, "taenidium": 2, "cuticle layer": {"cuticulin layer": 1, "epicuticle": 3, "exocuticle": 2, "endocuticle": 3, "assembly zone": 1, "procuticle": 2}, "peritrophic membrane": {"adult peritrophic membrane": 1, "embryonic/larval peritrophic membrane": {"larval peritrophic membrane": 1, "embryonic peritrophic membrane": 1}}, "cuticle": {"pupal cuticle": 2, "chitinous intima": {"chitinous intima of the adult foregut": 1, "chitinous intima of the adult hindgut": 1, "chitinous intima of the cardial valve": 1}, "larval cuticle": {"third instar larval cuticle": 2, "second instar larval cuticle": 2, "embryonic/first instar larval cuticle": 33}, "adult cuticle": 11, "puparium": 2, "prepupal cuticle": 2}, "neurilemma": 1, "neural lamella": 1}}


/* For pretty number formatting. */
var format = pv.Format.number();

var vis = new pv.Panel()
    .width(796)
    .height(796)
    .margin(2);

var pack = vis.add(pv.Layout.Pack)
    .nodes(pv.dom(flare).root("flare").nodes())
    .size(function(d) d.nodeValue);

pack.node.add(pv.Dot)
    .fillStyle(function(d) d.firstChild ? "rgba(31, 119, 180, .25)" : "#ff7f0e")
    .title(function(d) d.nodeName + (d.firstChild ? "" : ": " + format(d.nodeValue)))
    .lineWidth(1);

pack.label.add(pv.Label)
    .visible(function(d) !d.firstChild)
    .text(function(d) d.nodeName.substring(0, Math.sqrt(d.nodeValue) / 20));

vis.render();

    </script>
  </div>
</div>
